@model IEnumerable<MT.Models.EmployeeViewModel>
@{
}
<h2>Employees</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Tenant Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Position</td>
                <td>@employee.TenantId</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@employee.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@employee.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@employee.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
